<form class="product-filter-form">
  <div class="price-filter">
    <span class="price-header">Prices</span>
    <div class="price-ranger">
      <span class="price-ranger__text">Ranger:</span>
      <span name='min-value' class="price-ranger__left-value">1</span>
      <span>-</span>
      <span name='max-value' class="price-ranger__right-value">2</span>
    </div>
    <div class="price-slider"></div>
  </div>
  <div class="brand-filter">
    <span class="brand-header">Brands:</span>
  </div>
  <div class="type-filter">
    <span class="type-header">Types:</span>
  </div>
  <div class="kind-filter">
    <span class="kind-header">Kinds:</span>
  </div>
  <div class="filter-buttons__wrapper">
    <button class="products-filter-form__button btn waves-effect waves-light">
      Apply
    </button>
    <button type="button" class="products-filter-reset__button btn waves-effect waves-light">
      Reset
    </button>
  </div>
</form>