.product-filter-form {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  grid-area: B;
  align-items: center !important;
}

.price-slider {
  margin-top: 2rem;
}

.price-filter {
  width: 90%;
  padding: 5%;
  margin-bottom: 2rem;
  margin-left: 5%;
  background-color: #F6F7F8;
}

.price-header {
  display: block;
  font-size: 2rem;
}

.price-ranger {
  font-size: 1.6rem;
  margin-top: 2rem;

  &__text {
    display: block;
    margin-bottom: 1rem;
  }

  &__left-value {
    margin-left: 10%;
  }
}

.brand-filter, .type-filter, .kind-filter {
  width: 90%;
  padding: 5%;
  margin-bottom: 2rem;
  margin-left: 5%;
  background-color: #F6F7F8;
}

.filter-checkbox__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.color-filter {
  width: 90%;
  padding: 5%;
  margin-bottom: 2rem;
  margin-left: 5%;
  background-color: #F6F7F8;
}

.color__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.size-filter {
  width: 90%;
  padding: 5%;
  margin-bottom: 2rem;
  margin-left: 5%;
  background-color: #F6F7F8;
}

.size__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-buttons__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2rem;
}