<form class="product-filter-form">
  <div class="price-filter">
    <span class="price-header">Prices</span>
    <div class="price-ranger">
      <span class="price-ranger__text">Ranger:</span>
      <span class="price-ranger__left-value">1</span>
      <span>-</span>
      <span class="price-ranger__right-value">2</span>
    </div>
    <div class="price-slider"></div>
  </div>
  <div class="brand-filter">
    <span class="brand-header">Brands:</span>
    <div class="brand__wrapper">
      <p class="brand-checkbox">
        <label for="brand1">
          <input type="checkbox" class="filled-in brand" id="brand1"/>
          <span>Brand name</span>
        </label>
      </p>
      <span class="brand-count">(99)</span>
    </div>
  </div>
  <div class="color-filter">
    <span class="color-header">Colors:</span>
    <div class="color__wrapper">
      <p class="color-checkbox">
        <label for="color">
          <input name="color1" type="radio" class="with-gap color" id="color"/>
          <span>Color name</span>
        </label>
      </p>
      <span class="color-count">(99)</span>
    </div>
  </div>
  <div class="size-filter">
    <span class="size-header">Sizes:</span>
    <div class="size__wrapper">
      <p class="size-checkbox">
        <label for="size-small">
          <input name="size" type="radio" class="with-gap size" id="size-small"/>
          <span>Small</span>
        </label>
      </p>
      <span class="size-count">(99)</span>
    </div>
    <div class="size__wrapper">
      <p class="size-checkbox">
        <label for="size-lage">
          <input name="size" type="radio" class="with-gap size" id="size-lage"/>
          <span>Large</span>
        </label>
      </p>
      <span class="size-count">(99)</span>
    </div>
  </div>
  <button class="products-filter-form__button btn waves-effect waves-light">
    Apply
  </button>
</form>