@import '../../assets/styles/constants';

.product-filter-form {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  grid-area: B;
  align-items: center !important;
  z-index: 5;
  @include tablet {
    position: absolute;

    width: 80%;
    transform: translateX(-100%);
    transition: all 1s ease-out;
    &.active {
      transform: translateX(0%);
      box-shadow: 5px 8px 12px 2px rgba(0, 0, 0, 0.2);
    }
  }
}

.price-slider {
  margin-top: 2rem;
}

.price-filter {
  width: 90%;
  padding: 5%;
  margin-bottom: 2rem;
  margin-left: 5%;
  background-color: #f6f7f8;
}

.price-header {
  display: block;
  font-size: 2rem;
}

.price-ranger {
  font-size: 1.6rem;
  margin-top: 2rem;

  &__text {
    display: block;
    margin-bottom: 1rem;
  }

  &__left-value {
    margin-left: 10%;
  }
}

.brand-filter,
.type-filter,
.kind-filter {
  width: 90%;
  padding: 5%;
  margin-bottom: 2rem;
  margin-left: 5%;
  background-color: #f6f7f8;
}

.filter-checkbox__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.color-filter {
  width: 90%;
  padding: 5%;
  margin-bottom: 2rem;
  margin-left: 5%;
  background-color: #f6f7f8;
}

.color__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.size-filter {
  width: 90%;
  padding: 5%;
  margin-bottom: 2rem;
  margin-left: 5%;
  background-color: #f6f7f8;
}

.size__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-buttons__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2rem;
}

.sort__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  padding: 5%;
  margin-bottom: 2rem;
  margin-left: 5%;
  background-color: #f6f7f8;
}

.sort-label {
  display: block;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  color: black;
  margin-bottom: 1rem;
}

.sort-parameter {
  width: 55%;
  height: 4rem;
  font-size: 1.5rem;
}

.sort-type {
  width: 35%;
  height: 4rem;
  font-size: 1.5rem;
}

.product-search__input {
  width: 100% !important;
}

.product-search__label {
  font-size: 1.5rem !important;
  left: 1rem !important;
  top: -0.5rem !important;
}