@import '../../assets/styles/constants';

.form {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  @include tablet {
    min-width: 280px;
  }
}

.btn {
  overflow: visible;
}