@import '../../assets/styles/constants';

.form {
  height: 100%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  @include tablet {
    min-width: 280px;
  }
}

.address-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address__options {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.default-address {
  align-self: self-end;
}

.address__shipping {
  display: flex;
}

.address__shipping.none {
  display: none;
}