@import '../../assets/styles/constants';

.page-container {
  margin-bottom: 15%;
}

.catalog-title {
  display: block;
  width: 100%;
  text-align: center;
  grid-area: A;
}

.product-list__container {
  margin-bottom: 2%;
  display: grid;
  gap: 1%;
  grid-template-columns: 23% 66%;
  grid-template-areas:
    'A A'
    'B C'
    'D D';
  @include laptop {
    grid-template-columns: 34% 60%;
  }

  @include tablet {
    grid-template-columns: 5% 90%;
    gap: 5px;
    justify-items: start;
  }
}
