.catalog-title {
  display: block;
  width: 100%;
  text-align: center;
  grid-area: A;
}
.catalog-page {
  display: grid;
  gap: 1%;
  grid-template-columns: 23% 66%;
  grid-template-areas: 
                  "A A"
                  "B C"
                  "D D";
}