.user-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.info-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.user-info {
  max-width: 300px;
}

.edit-btn {
  display: block;
  margin: 20px auto;
}

.different {
  background-color: red;
  border-radius: 10px;
}
.error-toast {
  background-color: red;
  border-radius: 10px;
  font-size: 20px;

}
.success-toast {
  background-color: green;
  border-radius: 10px;
  font-size: 20px;
}

.password-wrapper {
  max-width: 300px;

}

.addresses {
  display: flex;
  gap: 20px;
}

.defaultAddress {
  background-color: #ede7f6;
  order: -1;
}



.addresses-wrapper {
  gap: 10px;
  display: flex;
  flex-direction: column;

  .add-btn {
    order: 2;
  }

  h5 {
    order: -1;
  }
}

.address-form {
  position: relative;
  border: 1px solid grey;
padding: 5px;

}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: 1px solid red;
  color: red;
  padding: 2px;
  transition: .3s ease;
  cursor: pointer;

  &:hover {
    background-color: red;
    color: white;
  }
}

.none {
  display: none;
}