.user-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.info-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.user-info {
  max-width: 300px;
}

.edit-btn {
  display: block;
  margin: 20px auto;
}

.different {
  background-color: red;
  border-radius: 10px;

}

.password-wrapper {
  max-width: 300px;

}

.addresses {
  display: flex;
  gap: 20px;
}

.defaultAddress {
  background-color: aqua;
}

.addresses-wrapper {}