.logo-img {
  width: 150px;
  margin: 20px auto;
  display: block;
}


.team-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;


  @media (max-width: 1430px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
}

.team-list-item {
  width: 75%;
  display: flex;
  gap: 20px;
  border: 2px solid #2196f3;
  border-radius: 30px;
  align-items: center;
  padding: 10px 15px;
  position: relative;

  @media (max-width: 1430px) {
    flex-direction: column;
    max-width: 350px;
    align-content: center;
    width: 100%;
    gap: 0;

    &:first-child {
      max-width: 100%;
      margin: 0 28vw;

      @media (max-width: 750px) {
        margin: 0;
        max-width: 350px;
      }
    }
  }

  .item-photo {
    height: 300px;
    width: 300px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 100%;

    @media (max-width: 1430px) {
      height: 200px;
      width: 200px;
    }
  }

  .item-desc-block {
    @media (max-width: 1430px) {
      text-align: center;
    }
  }

  .item-desc {
    max-width: 75%;

    @media (max-width: 1430px) {
      margin-top: 0;
      max-width: 100%;
    }
  }

  .item-github-link {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .item-github-img {
    height: 30px;
    width: 30px;
  }

  .item-title {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: 1430px) {
      flex-direction: column;
      font-size: 20px;
      gap: 3px;
      margin-bottom: 0;
      ;
    }
  }

  .item-location {
    color: #90caf9;
    margin: 0;
    margin-bottom: 10px;
  }

  .item-quote {
    border-radius: 10px;

    @media (max-width: 1430px) {
      max-width: 100%;

    }
  }

  .item-position {
    color: #90caf9;
  }

  .item-info {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}