@import '../../assets/styles/constants';

.not-found {
  text-align: center;
  margin-top: 100px;
}

.nf-title {
  font-size: 42px;
  font-style: italic;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.four-figure {
  font-family: emoji;
  font-size: 22rem;
  @include tablet {
    font-size: 15rem;
  }
}

.not-found__image {
  padding: 0 1.5rem;
  width: 26rem;
  height: 23rem;
  @include tablet {
    width: 16rem;
    height: 13rem;
  }
}

.back-btn {
  border-radius: 10px;
}

i.back-btn__icon {
  font-size: 3rem;
  color: $color-seven;
}
