//color
$color-one: #f5f7ff;
$color-three: #0156ff;
$color-four: #01a4ff;
$color-five: #a2a6b0;
$color-six: #cacdd8;
$color-seven: #000;
$color-eight: #c94d3f;
$color-nine: #2557d6;

//media
@mixin desctop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 980px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 690px) {
    @content;
  }
}
