@import 'constants';

html {
  font-size: 10px !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  font-style: normal;
  line-height: 160%;
}

main {
  height: 90vh;
}

nav ul a {
  color: $color-seven;
  font-size: 2rem;
}

.btn,
.btn-small {
  background-color: $color-three !important;
  &:hover {
    background-color: $color-four !important;
  }
}
