<tr class="cart-item" data-key="">
  <td>
    <div class="cart-item__info waves-effect waves-block waves-light">
      <img src="https://w.forfun.com/fetch/f2/f2a3495b197b51b7f19084f6b3ea4c1a.jpeg" alt="product-image"
        class="activator item-image">
      <div class="cart-name__wrapper">
        <div class="cart-item__product-name name">
        </div>
        <button class="button__detailed">
          Detailed
        </button>
      </div>
    </div>
  </td>
  <td>
    Total Price
  </td>
  <td>
    <div class="cart-item__quantity-controls">
      <button class="button__remove-item">
        <i class="small material-icons">remove</i>
      </button>
      <input type="text" class="cart-item__quantity">
      <button class="button__add-item">
        <i class="small material-icons">add</i>
      </button>
    </div>
  </td>
  <td>
    <div class="cart-item__product-price">
      <div class="discount">
      </div>
      <div class="price">
      </div>
    </div>
  </td>
</tr>
