<tr class="cart-item" data-key="">
  <td>
    <div class="cart-item__info waves-effect waves-block waves-light">
      <button class="delete-item__button">
        <i class="small material-icons">close</i>
      </button>
      <img src="https://w.forfun.com/fetch/f2/f2a3495b197b51b7f19084f6b3ea4c1a.jpeg" alt="product-image"
        class="activator item-image">
      <div class="cart-item__product-name name">
      </div>
    </div>
  </td>
  <td>
    <div class="cart-item__product-price">
      <div class="discount">
      </div>
      <div class="price">
      </div>
    </div>
  </td>
  <td>
    <div class="cart-item__quantity-controls">
      <button class="button__decrease-quantity">
        <i class="small material-icons">remove</i>
      </button>
      <span class="cart-item__quantity quantity">1</span>
      <button class="button__increase-quantity">
        <i class="small material-icons">add</i>
      </button>
    </div>
  </td>
  <td>
    <div class="cart-item__total-price totalPrice">
      Total Price
    </div>
  </td>
</tr>
