@import '../../assets/styles/constants';

div.detailed-cart {
  margin-bottom: 0;
}

div.top-bar {
  border-bottom: 1px solid rgba(125, 117, 117, 0.437);
  display: flex;
  align-items: center;
  margin-bottom: 0;
  @include tablet {
    flex-direction: column;
  }
}

div.col.breadcrumbs {
  padding: 3.5rem 0 3.5rem 20rem;
  @include laptop {
    padding: 3.5rem 0 3.5rem 3.5rem;
  }
  @include tablet {
    padding: 1rem 0 2rem 4.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.222);
    border-bottom: 1px solid rgba(0, 0, 0, 0.222);
  }
}

.breadcrumbs-list {
  display: flex;
}

.breadcrumb-item {
  color: $color-seven;
  font-size: 2rem;
  padding: 0 1rem;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include laptop {
    justify-content: start;
  }
  @include tablet {
    justify-content: space-around;
    padding: 2rem 0 2rem 0rem !important;
  }
}

.detail-price {
  font-size: 2rem;
  @include large-desctop {
    padding-right: 5rem;
  }
  @include laptop {
    padding-right: 1rem;
  }
}

button.btn-small {
  border-radius: 20px;
  font-size: 1.7rem;
  &:first-child {
    margin-right: 2rem;
  }
}

.btn-small i.menu-cart {
  font-size: 1.7rem;
  padding-right: 0.5rem;
}

.product-info {
  background-color: $color-one;
  display: flex;
  flex-direction: column;
  height: 52vh;
  @include tablet {
    height: auto;
  }
}

.product-details-name {
  font-size: 3.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 7rem;
  letter-spacing: 0.2rem;
  padding-left: 4rem;
  @include laptop {
    font-size: 2.4rem;
    padding-left: 0rem;
  }
  @include tablet {
    margin-top: 2rem;
  }
}

.product-info-container {
  padding-left: 20rem;
  padding-right: 5rem;
  @include laptop {
    padding-left: 5rem;
  }
}

.detail-info {
  padding-left: 6rem;
  font-size: 1.7rem;
  font-weight: 600;
  & span {
    font-weight: 300;
  }
  @include laptop {
    font-size: 1.4rem;
  }
  @include tablet {
    padding-left: 0rem;
  }
}

.detail-description {
  font-size: 2rem;
  line-height: 170%;
  margin-top: 4rem;
  text-align: justify;
  @include laptop {
    font-size: 1.7rem;
  }
  @include tablet {
    margin-top: 2rem;
    padding-bottom: 1rem;
  }
}

div.slider,
div.carousel.carousel-slider {
  height: 460px;
  width: 100%;
  top: 20%;
  @include desctop {
    top: 30%;
  }
  @include tablet {
    height: 400px;
    width: 110%;
  }
}

div.carousel.carousel-slider {
  @include large-desctop {
    left: 5%;
  }
  @include desctop {
    left: 8%;
  }
  @include laptop {
    top: 40%;
  }
  @include tablet {
    top: 25%;
    left: 40%;
  }
}

.carousel .carousel-item img {
  width: auto !important;
  height: 70%;
  @include large-desctop {
    height: 58%;
  }
  @include desctop {
    height: 40%;
  }
}

div.carousel .indicators {
  bottom: 15%;
  @include desctop {
    bottom: 30%;
  }
}

div.carousel .indicators .indicator-item {
  background-color: $color-three;
  opacity: 0.5;
  &.active {
    background-color: $color-three;
    opacity: 1;
  }
}

// Modal
.image-modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
}

.image-modal_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.image-modal_wrapper > .carousel.carousel-slider {
  top: 0;
  left: 0;
  height: 80%;
  @include desctop {
    height: 75%;
  }
  @include laptop {
    height: 50%;
  }
  @include tablet {
    height: 40%;
  }
}

.image-modal_wrapper > .carousel .carousel-item {
  min-height: 350px;
}

.image-modal_wrapper > .carousel .carousel-item .modal-image {
  height: 100%;
  @include tablet {
    height: 80%;
  }
}

.close-btn_wrapper {
  bottom: 35%;
  position: relative;
  right: 5%;
}

.close-btn {
  cursor: pointer;
}

.image-modal_wrapper .carousel .indicators {
  bottom: -4%;
}
